.eptitle {
    font-family: "mandaloreregular";
    text-align: center;
    font-size: 28px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px 10px 0px 0px ;
  }
  .eptitlecolor1 {
    background-color: rgba(112,105,89, 0.3);
  
  }
  .epcardcolor1 {
    background-color: rgba(112,105,89, 0.1);
  }
  .eptitlecolor2 {
    background-color: rgba(185,118,112, 0.3);
  }
  .epcardcolor2 {
    background-color: rgba(185,118,112, 0.1);
  }
  .eptitlecolor3 {
    background-color: rgba(165,184,190, 0.3);
  }
  .epcardcolor3 {
    background-color: rgba(165,184,190, 0.1);
  }
  .eptitlecolor4 {
    background-color: rgba(177,114,37, 0.3);
  }
  .epcardcolor4 {
    background-color: rgba(177,114,37, 0.1);
  }
  .eptitlecolor5 {
    background-color: rgba(188,173,154, 0.3);
  }
  .epcardcolor5 {
    background-color: rgba(188,173,154, 0.1);
  }
  .eptitlecolor6 {
    background-color: rgba(232,82,67, 0.15);
  }
  .epcardcolor6 {
    background-color: rgba(232,82,67, 0.08);
  }
  .eptitlecolor7 {
    background-color: rgba(17,68,97, 0.3);
  }
  .epcardcolor7 {
    background-color: rgba(17,68,97, 0.1);
  }
  .eptitlecolor8 {
    background-color: rgba(133,100,81, 0.3);
  }
  .epcardcolor8 {
    background-color: rgba(133,100,81, 0.1);
  }
  
  .epcard {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    
  
  
    max-width: 540px;
    border: 0px solid #000;
    margin-top:10px;
    margin-bottom:10px;
    padding: 0px;
    border-radius: 10px;
     
  }
  
  .epcard:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 7px 7px rgba(0,0,0,0.23);
    transform: scale(1.01);
  }
  
  .epcard .body {
    padding: 0px;
  }
   
  .epcard h2, h3 {
      text-align: center;
  }
  
  .epcard p {
      text-align: center;
  }
  
  
  .epcard .floatleft{
    float: left;
  }
  
  .epcard img {
    max-height: 200px;
    max-width: 150px;
    
    border-radius: 10px 00px 0px 10px;
  }
  
  .media-body {
    border-radius: 10px;
  }