@font-face {
  font-family: 'mandaloreregular';
  src: url('mandalore.woff2') format('woff2'),
       url('mandalore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mandalore_laserregular';
  src: url('mandalorelaser.woff2') format('woff2'),
       url('mandalorelaser.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'mandalore_titleregular';
  src: url('mandaloretitle.woff2') format('woff2'),
       url('mandaloretitle.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'mandalore_expandedregular';
  src: url('mandalorexpand.woff2') format('woff2'),
       url('mandalorexpand.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.navbar {
  font-family: "mandalore_titleregular";
  font-size: 20px;
}

.logo {
  max-height: 300px;
}

