@font-face {
  font-family: NewsGothic-Bold;
  src: url("/assets/fonts/NewsGothicStd-Bold.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navblack {
  background-color: #000; 
} 

.navblack a, a:hover, a:active {
  color: #fff;
}

.epcard {
  background-color: (0,0,0.0.3);
  text-size: 20px;
}


/* Homepage  */

.home-background {
  height: 900px;
  background-image: url("/assets/images/homeBackground.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-background {
    background:#000
}

iframe {
    padding-top: 20px;
    width: 100%; 
    height: 56.25vw; /* 100/56.25 = 560/315 = 1.778 */
    background:#000
}

.summary-text {
  font-family: "NewsGothic-Bold";
  height: 300px;
  font-size: 17px;
  background: #000;
  text-align: center;
  padding: 80px 40px 50px 40px;
  color: #E1BE11;
}

.trailer {
  padding: 100px;
  margin: 0 auto;
  text-align: center;
}

/* Footer */
footer {
  height: 400px;
  background: #000;
  width: 100%;
  text-align: center;
}

.text {
    font-family: "mandalore_titleregular";
}

.quote-text {
    height: 250px;
    font-size: 17px;
    color: #FFF;
    padding: 75px 25px 0px 25px;
}



@media (min-width: 700px) {
 
  .quote-text {
    font-size: 22px;
  } 
  
  .summary-text {
    font-size: 22px;
  }
  
}

* {
  box-sizing: border-box;
}


h1 {
  font-size: 2.5rem;
  text-align: center;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  width: 100%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
}

.meme-form > button {
  border: none;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: teal;
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-size: 25px;
text-align: cen
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}
.meme-form > input:-ms-input-placeholder { /* IE 10+ */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}
.meme-form > input:-moz-placeholder { /* Firefox 18- */
font-family: VT323, monospace;
font-size: 25px;
text-align: cen
}

